name: Release new version

on:
  schedule:
    - cron:  '0 1 * * 1'
  workflow_dispatch:

jobs:
  release:
    if: github.ref == 'refs/heads/master'
    name: "Release"
    runs-on: "ubuntu-22.04"

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Terminate if no changes since last tag
        run: |
          if [ "$(git rev-list $(git describe --abbrev=0 --tags)..HEAD --count -- flake.nix imgs/ lib/ modules/ pkgs/ templates/)" -eq "0" ]; then exit 1; fi

      - name: "Generate tag"
        id: tag
        run: echo tag=$(echo "nixos-23.11-$(date "+%Y%m%d.%H%M%S")") >> "$GITHUB_OUTPUT"

      - uses: "marvinpinto/action-automatic-releases@latest"
        with:
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          automatic_release_tag: "${{ steps.tag.outputs.tag }}"
          prerelease: false
